/* CSS for Portfolio Chris Friemann */

/* Fonts */
@font-face {
    font-family: 'AvenirLTstd-Black';
    src: url('../fonts/AvenirLTStd-Black.otf');
}

@font-face {
    font-family: 'AvenirLTstd-Book';
    src: url('../fonts/AvenirLTStd-Book.otf');
}

@font-face {
    font-family: 'AvenirLTstd-Roman';
    src: url('../fonts/AvenirLTStd-Roman.otf');
}

/* End Fonts */

/* Body */

* {
    letter-spacing: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'AvenirLTstd-Black', sans-serif;
    font-size: 35px;
    color: #000000;
    background-color: #fff;
}

/* End Body */

/* SideNav/Burgermenu */

.sidenav1{
    color: #000;
}

.sidenav2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #5a5a5a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: 0.97;
  }
  
  .sidenav2 a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav2 a:hover {
    color: #f1f1f1;
  }
  
  .sidenav2 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav2 {padding-top: 15px;}
    .sidenav2 a {font-size: 18px;}
  }

/* End SideNav/Burgermenu */